<div class="tools row" ng-if="$root.summaryCardService.selectedCardId=='aretirement'">
    <div class="col-md-12">
        <div class="panel-group " id="retirement">
            <div class="panel panel-default">
                <a>
                    <div class="panel-heading main retirement">
                        <h4 class="panel-title">{{$root.translateData["Retirement Lifestyle"]}}</h4>
                        <a id="close_card_aretirement" class="panel-close btn-sm btn-white waves-effect" ng-click="$root.summaryCardService.closeCard('aretirement');">x</a>
                    </div>
                </a>
                <div class="panel-body row">
                    <div class="row-sm-height">
                        <div class="col-sm-4 left-side col-sm-height col-top">
                            <!--<div class="inside" id="com_expense_at_retirement">
                                <p style="margin-bottom:20px">{{$root.translateData["What kind of lifestyle would you like at retirement?"]}}</p>
                  

                            </div>-->
                            <div class="inside">
                                <p style="margin-bottom:20px" ng-if="$root.PersonaPlan.retirement_lifestyle==-1">
                                    {{$root.translateData["Your monthly expenses are"]}}  <strong>{{$root.PersonaPlan.currency_code}}&nbsp;{{PersonaPlan.expense_today|number:0}}</strong>,
                                    {{$root.translateData["which make you belong to the"]}}  <strong>{{$root.translateData[selectedretirementLife.name] | uppercase}}</strong>.
                                </p>
                                <p style="margin-bottom:20px" ng-if="$root.PersonaPlan.retirement_lifestyle!=-1">
                                    {{$root.translateData["Your monthly expenses at retirement would be "]}}  <strong>{{$root.PersonaPlan.currency_code}}&nbsp;{{$root.retirementLife[$root.PersonaPlan.retirement_lifestyle].value|number:0}}</strong>,
                                    {{$root.translateData["based on your choice of lifestyle at retirement and expected evolution of expenses over time"]}}.
                                </p>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <img src="/Themes/4/Content/Images/chart-retirement-rank.jpg" style="width:100%;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Monthly&nbsp;Income:&nbsp;SGD&nbsp;{{$root.retirementLifeStyle.incomeAtRetirement|number:0}} Monthly&nbsp;Expense:&nbsp;SGD&nbsp;{{$root.retirementLifeStyle.expenseAtRetirement|number:0}}" id="chart-retirement-image" ng-init="$root.retirementLifeStyle.initChartRetirementImage();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-height col-top right-side">
                            <div class="inside">
                                <div class="row">
                                    <div class="col-sm-3 blue-text" style="font-size: 55px;text-align:center;">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa-stack-1x fa-inverse" ng-class="$root.selectedretirementLife.imageClass"></i>
                                        </span>
                                    </div>
                                    
                                    <div class="col-sm-9 median-lifestyle"> 
                                        <h5>{{$root.translateData["Lifestyle at Retirement"]}}</h5> 
                                        <ul>
                                            <li>{{$root.translateData["What kind of lifestyle would you like at retirement?"]}}</li>
                                        </ul>
                                        <div class="row"> 
                                            <div ng-repeat="item in $root.retirementLife">
                                                <div class="card white hoverable" ng-class="$root.selectedretirementLife.id != item.id?'':'active'" id="retirement_life_style_{{item.id}}" ng_click="$root.retirementLifeStyle.ChooseLifeStyle(item);">
                                                    <div class="card-content">
                                                        <div class="row">
                                                            <div class="col-xs-3"><i class={{item.imageClass}}></i></div>
                                                            <div class="col-xs-9">
                                                                <h5>{{$root.translateData[item.name]}}</h5>
                                                                <div class="card-label">{{$root.PersonaPlan.currency_code}} {{item.value|number:0}} {{$root.translateData["Monthly Expense"]}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  

                                        <ul>
                                            <li>You are choosing to have a <strong>MEDIAN</strong> lifestyle at retirement, which makes you <strong>financially safe until the age of 80</strong>.</li>
                                        </ul>
                                    </div> 
                                </div>
                                <div class="separator" style="margin-top:20px"></div>
                                <div class="row" id="dev_detaillifeStype" style="padding-top:3em;">
                                    <div class="col-xs-12">
                                        <p style="margin-top:0;margin-bottom:1.3em;">{{$root.translateData["Here's  your projected annual expense and the breakdown of your income after retirement:"]}}</p>
                                        <center>
                                            <div class="btn-group" style="padding-bottom:10px;">
                                                <button id="retirerates-btn1" type="button" ng-class="{'btn-primary': $root.retirementLifeStyle.inflation_status, 'btn-white': !$root.retirementLifeStyle.inflation_status}" class="btn btn-sm waves-effect " style="margin-right:0" ng-click="$root.retirementLifeStyle.changeInflattion(true);">{{$root.translateData["INFLATION ADJUSTED"]}}</button>
                                                <button id="retirerates-btn2" type="button" ng-class="{'btn-primary': !$root.retirementLifeStyle.inflation_status, 'btn-white': $root.retirementLifeStyle.inflation_status}" class="btn btn-sm waves-effect" ng-click="$root.retirementLifeStyle.changeInflattion(false);">{{$root.translateData["NON-INFLATION ADJUSTED"] }}</button>
                                            </div>
                                        </center>
                                        <div class="compare-tbl">
                                            <div class="row total" style="border-top:1px solid #fff">
                                                <div class="col-xs-7 grey lighten-3">{{$root.translateData["AGE"]}}</div>
                                                <div class="col-xs-5 grey lighten-3">{{$root.chartObject.age}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-7 grey lighten-5">{{$root.translateData["Annual Expense"]}}</div>
                                                <div class="col-xs-5 grey lighten-5">{{$root.PersonaPlan.currency_code}} {{ $root.chartObject.annualexpense | number : 2}}</div>
                                            </div>
                                            <div class="row parentretire" id="income-source" ng-click="$root.retirementLifeStyle.openRowData('income-source')">
                                                <div class="col-xs-7 grey lighten-3">{{$root.translateData["Income Sources"]}} <i class="fa fa-caret-down"></i></div>
                                                <div class="col-xs-5 grey lighten-3">{{$root.PersonaPlan.currency_code}} {{ $root.chartObject.incomesource | number : 2}}</div>
                                            </div>
                                            <div class="row parentretire" parent="income-source">
                                                <div class="col-xs-7 grey lighten-3">{{$root.translateData["Income from Social Annuities"]}}</div>
                                                <div class="col-xs-5 grey lighten-3">{{$root.PersonaPlan.currency_code}} {{ $root.chartObject.incomefromsocial | number : 2}}</div>
                                            </div>
                                            <div class="row parentretire" parent="income-source">
                                                <div class="col-xs-7 grey lighten-3">{{$root.translateData["Income from Savings"]}}</div>
                                                <div class="col-xs-5 grey lighten-3">{{$root.PersonaPlan.currency_code}} {{ $root.chartObject.incomefromsaving | number : 2}}</div>
                                            </div>

                                        </div>

                                        <div id="chartRetirement" style="width:100%;height:400px;font-size:11px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- panel-body -->
            </div>
            <div class="panel-footer">
                <h6 ng-if="!$root.profile.client.is_auto_register">{{$root.translateData['Rate this Section']}}</h6>
                <rating-session ng-if="!$root.profile.client.is_auto_register" id="rating_retirement" rating-value="$root.ratingData.data.retirement_life_style" on-click-star="$root.ratingService.ratingClickStar('retirement_life_style')" on-rating-select="$root.ratingService.rating('retirement_life_style');"></rating-session>
            </div>
        </div> <!-- panel -->
    </div>
</div>

