<div id="ProfileDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <treasure-overlay-spinner active='spinner.active'>
                <div class="modal-header">
                    <h4 class="modal-title">{{"Update profile" | translate}}</h4>
                </div>
                <div class="modal-body">                   
                    <form name="form_profile" novalidate class="form-horizontal" role="form">
                        <fieldset class="border">
                            <legend class="border">{{"Client Section" | translate}}</legend>
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-4"></div>
                                <div class="col-md-4 col-sm-4 col-xs-4 center">
                                    <img id="defaultAvatar" src="Themes/2/Content/Images/avatar.png" style="width:100%;padding:5px;border:1px solid #ddd;border-radius:2px;" ng-if="$root.profile.client.avatar =='' || $root.profile.client.avatar == null ">
                                    <img id="imgAvatar" ng-src="{{$root.profile.client.avatar}}" style="width:100%;padding:5px;border:1px solid #ddd;border-radius:2px;" ng-show="$root.profile.client.avatar != null && $root.profile.client.avatar != ''  ">
                                    <button type="button" class="btn btn-xs btn-primary waves-effect waves-light btn-white" onclick="$('#filesToUpload').click();">{{"CHANGE PHOTO" | translate}}</button>
                                    <input type="file"  name="filesToUpload" id="filesToUpload" onchange="encodeImage();" class="hidden" />
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Firstname" | translate}}
                                </div>                                
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <input id="dialog_profile_client_first_name" type="text" class="form-control" name="client_first_name" ng-model="$root.profileDialogData.client.first_name" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                    <div class="bto-error" ng-messages="form_profile.client_first_name.$error" ng-if="form_profile.client_first_name.$dirty">
                                        <div ng-message="required">
                                            {{"Client firstname is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Lastname" | translate}}
                                </div>                               
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <input id="dialog_profile_client_last_name" type="text"  class="form-control" name="client_last_name" ng-model="$root.profileDialogData.client.last_name" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                    <div class="bto-error" ng-messages="form_profile.client_last_name.$error" ng-if="form_profile.client_last_name.$dirty">
                                        <div ng-message="required">
                                            {{"Client lastname is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Email" | translate}}
                                </div>                               
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <input id="dialog_profile_client_email" type="text" style="height: 20px;"  class="form-control" name="client_email" ng-model="$root.profileDialogData.client.email"
                                           required unique-name ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                    <div class="bto-error" ng-messages="form_profile.client_email.$error" ng-if="form_profile.client_email.$dirty">
                                        <div ng-message="required">
                                            {{"Client Email is requried" | translate}}
                                        </div>
                                        <div ng-message="email">
                                            {{"Client Email is invalid" | translate}}
                                        </div>
                                        <div ng-message="uniqueName">
                                            {{"Client Email is existed" | translate}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Mobile phone" | translate}}
                                </div>                                 
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <table>
                                        <tr>
                                            <td width="40%">
                                                <select ng-if="false" id="dialog_profile_client_mobile_phone" class="form-control" name="mobile_phone_code" ng-model="$root.profileDialogData.client.phone_code" ng-options="item.dial_code as $root.profileService.textCountryCode(item.dial_code, item.name) for item in countries" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1">
                                                    <option value="">{{"--Select Code--" | translate}}</option>
                                                </select>
                                                <material-select id="dialog_profile_client_mobile_phone" name="mobile_phone_code" required="" model-data="$root.profileDialogData.client.phone_code" list-data="countries" value-id="'dial_code'" label-id="'name'" not-select-label="'--Select Code--'"></material-select>
                                            </td>
                                            <td>&nbsp;{{$root.profileDialogData.client.phone_code}}&nbsp;</td>
                                            <td>
                                                <input type="text"  ng-pattern="/^[0-9]{2,3}[0-9\-\.]{2,10}?[0-9]{1,3}$/" id="dialog_profile_client_mobile_phone_number" class="form-control" name="mobile_phone_number" ng-model="$root.profileDialogData.client.phone_number" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="bto-error" ng-messages="form_profile.mobile_phone_code.$error" ng-if="form_profile.mobile_phone_code.$dirty">
                                        <div ng-message="required">
                                            {{"Country code is requried" | translate}}
                                        </div>
                                    </div>
                                    <div class="bto-error" ng-messages="form_profile.mobile_phone_number.$error" ng-if="form_profile.mobile_phone_number.$dirty">
                                        <div ng-message="required">
                                            {{"Phone number is requried" | translate}}
                                        </div>
                                        <div ng-message="pattern">
                                            {{"Phone number is not correct" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Gender" | translate}}
                                </div>                               
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <select ng-if="false" id="dialog_profile_client_gender" class="form-control" name="client_gender" ng-model="$root.profileDialogData.client.gender" ng-options="item.id as item.name for item in genderList" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1">
                                        <option>{{"--Select Gender--" | translate}}</option>
                                    </select>
                                    <material-select id="dialog_profile_client_gender" name="client_gender" required="" model-data="$root.profileDialogData.client.gender" list-data="genderList" value-id="'id'" label-id="'name'" not-select-label="'--Select Gender--'"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.client_gender.$error" ng-if="form_profile.client_gender.$dirty">
                                        <div ng-message="required">
                                            {{"Client Gender is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Age" | translate}}
                                </div>                                
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <select ng-if="false" id="dialog_profile_client_age" class="form-control" name="client_age" disabled ng-model="$root.profileDialogData.client.age" required ng-options="item  for item in $root.utilService.range(18, 75)">
                                        <option value="">{{"--Select Age--" | translate}}</option>
                                    </select>
                                    <input id="dialog_profile_client_age" type="text"  name="client_age" ng-model="$root.profileDialogData.client.age"
                                            ng-disabled="true" />

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Residency status" | translate}}
                                </div>                                   
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <select ng-if="false" id="dialog_profile_client_residency_status" class="form-control" name="client_residency_status" ng-options="item.id as item.name for item in residencyStatusList" ng-model="$root.profileDialogData.client.residency_status" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1">
                                        <option value="">{{"--Select Residence status--" | translate}}</option>
                                    </select>
                                    <material-select id="dialog_profile_client_residency_status" name="client_residency_status" required=""  model-data="$root.profileDialogData.client.residency_status" list-data="residencyStatusList" value-id="'id'" label-id="'name'" not-select-label="'--Select Residence status--'"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.client_residency_status.$error" ng-if="form_profile.client_residency_status.$dirty">
                                        <div ng-message="required">
                                            {{"Client Gender is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Nationality" | translate}}
                                </div>                                 
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    
                                    <material-select id="dialog_profile_client_residency_nationality" name="client_nationality" required="" model-data="$root.profileDialogData.client.nationality" list-data="countries" value-id="'iso_code_3'" label-id="'name'" not-select-label="'--Select Nationality--'"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.client_nationality.$error" ng-if="form_profile.client_nationality.$dirty">
                                        <div ng-message="required">
                                            {{"Nationality is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Marital status" | translate}}
                                </div>                                 
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    
                                    <material-select id="dialog_profile_client_marital_status" name="client_marital_status" required="" model-data="$root.profileDialogData.client.married_status" list-data="maritalStatusList" value-id="'id'" label-id="'name'" not-select-label="'--Select Marital status--'"></material-select>


                                    <div class="bto-error" ng-messages="form_profile.client_marital_status.$error" ng-if="form_profile.client_marital_status.$dirty">
                                        <div ng-message="required">
                                            {{"Marital status is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Number of children" | translate}}
                                </div>                                 
                                <div class="col-md-7 col-sm-7 col-xs-7" ng-init="childNumbers=$root.utilService.range(1, 5)">
                                    
                                    <material-select id="dialog_profile_children_number" name="children_number" model-data="$root.profileDialogData.children.number_of_child" list-data="childNumbers" change-value="$root.profileService.changeNumberOfChild()" not-select-label="'--Select Number of children--'"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.children_number.$error" ng-if="form_profile.children_number.$dirty">
                                        <div ng-message="required">
                                            {{"Number of children is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Number of other dependent" | translate}}
                                </div>                               
                                <div class="col-md-7 col-sm-7 col-xs-7" ng-init="dependentNumbers=$root.utilService.range(1, 5)">
                                    
                                    <material-select id="dialog_profile_dependent_number" name="dependent_number" model-data="$root.profileDialogData.dependent.number_of_dependent" list-data="dependentNumbers" change-value="$root.profileService.changeNumberOfDependent()" not-select-label="'--Select Number of other dependent--'"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.dependent_number.$error" ng-if="form_profile.dependent_number.$dirty">
                                        <div ng-message="required">
                                            {{"Number of other dependent is requied" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <fieldset class="border" ng-if="$root.profileDialogData.client.married_status == 1">
                            <legend class="border">{{"Spouse Section" | translate}}</legend>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Firstname" | translate}}
                                </div>                               
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <input id="dialog_profile_spouse_first_name" type="text"  class="form-control" name="spouse_first_name" ng-model="$root.profileDialogData.spouse.first_name" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                    <div class="bto-error" ng-messages="form_profile.spouse_first_name.$error" ng-if="form_profile.spouse_first_name.$dirty">
                                        <div ng-message="required">
                                            {{"Spouse firstname is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Lastname" | translate}}
                                </div>                                
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <input id="dialog_profile_spouse_last_name" type="text"  class="form-control" name="spouse_last_name" ng-model="$root.profileDialogData.spouse.last_name" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                    <div class="bto-error" ng-messages="form_profile.spouse_last_name.$error" ng-if="form_profile.spouse_last_name.$dirty">
                                        <div ng-message="required">
                                            {{"Spouse lastname is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Gender" | translate}}
                                </div>                                 
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <material-select id="dialog_profile_spouse_gender" name="spouse_gender" required model-data="$root.profileDialogData.spouse.gender" list-data="genderList" value-id="'id'" label-id="'name'" not-select-label="'--Select Gender--'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.spouse_gender.$error" ng-if="form_profile.spouse_gender.$dirty">
                                        <div ng-message="required">
                                            {{"Spouse Gender is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-init="spouseAgeRange = $root.utilService.range(18, 75)">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Age" | translate}}
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <material-select id="dialog_profile_spouse_age" name="spouse_age" required model-data="$root.profileDialogData.spouse.age" list-data="spouseAgeRange" not-select-label="'--Select Age--'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.spouse_age.$error" ng-if="form_profile.spouse_age.$dirty">
                                        <div ng-message="required">
                                            {{"Spouse age is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Residency status" | translate}}
                                </div>                                
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <material-select id="dialog_profile_spouse_residency_status" name="spouse_residency_status" required model-data="$root.profileDialogData.spouse.residency_status" list-data="residencyStatusList" value-id="'id'" label-id="'name'" not-select-label="'--Select Residence status--'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.spouse_residency_status.$error" ng-if="form_profile.spouse_residency_status.$dirty">
                                        <div ng-message="required">
                                            {{"Spouse residence is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Nationality" | translate}}
                                </div>                                 
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <material-select id="dialog_profile_spouse_residency_nationality" name="spouse_nationality" required model-data="$root.profileDialogData.spouse.nationality" list-data="countries" value-id="'iso_code_3'" label-id="'name'" not-select-label="'--Select Nationality--'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.spouse_nationality.$error" ng-if="form_profile.spouse_nationality.$dirty">
                                        <div ng-message="required">
                                            {{"Spouse Nationality is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-5 col-sm-5 col-xs-5 right">
                                    {{"Occupation" | translate}}
                                </div>                                
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <material-select id="dialog_profile_spouse_occupation" name="spouse_occupation" required model-data="$root.profileDialogData.spouse.occupation" list-data="occupationList" value-id="'id'" label-id="'name'" not-select-label="'--Select Occupation status--'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1"></material-select>

                                    <div class="bto-error" ng-messages="form_profile.spouse_occupation.$error" ng-if="form_profile.spouse_occupation.$dirty">
                                        <div ng-message="required">
                                            {{"Spouse Occupation is requried" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="border" ng-if="$root.profileDialogData.children.number_of_child > 0">
                            <legend class="border">{{"Children section"  | translate}}</legend>
                            <div class="table-responsive">
                                <table class="table table-striped child_table">
                                    <thead>
                                        <tr>
                                            <th class="first">{{"No." | translate}}</th>
                                            <th>{{"Name" | translate}}</th>
                                            <th>{{"Gender" | translate}}</th>
                                            <th>{{"Age" | translate}}</th>
                                            <th>{{"Status" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-init="childAgeRange = $root.utilService.range(0, 25)">
                                        <tr ng-repeat="child in $root.profileDialogData.children.childrens">
                                            <td><label class="control-label">{{$index + 1}}</label></td>
                                            <td>
                                                <input type="text" id="dialog_profile_child_name_{{$index}}" class="form-control" name="child_name_{{$index}}" ng-model="child.name" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                            </td>
                                            <td>
                                                
                                                <material-select id="dialog_profile_child_gender_{{$index}}" name="child_gender_{{$index}}" model-data="child.gender" list-data="genderList" value-id="'id'" label-id="'name'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1" not-select-label="'--Select Gender--'"></material-select>


                                            </td>
                                            <td>
                                                <select ng-if="false" id="dialog_profile_child_age_{{$index}}" class="form-control age" name="child_age_{{$index}}" ng-model="child.age" required ng-options="item  for item in $root.utilService.range(0, 25)" ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1">
                                                    <option value="">{{"--Select Age--" | translate}}</option>
                                                </select>
                                                <material-select id="dialog_profile_child_age_{{$index}}" name="child_age_{{$index}}" required="" model-data="child.age" list-data="childAgeRange" not-select-label="'--Select Age--'"></material-select>
                                            </td>
                                            <td class="td_child_status">
                                                <div class="checkbox child_status">
                                                    <input type="checkbox" id="dialog_profile_child_handicapped_{{$index}}" name="child_handicapped_{{$index}}" ng-model="child.handicapped" ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                                    <label for="dialog_profile_child_handicapped_{{$index}}">{{"Handicapped" | translate}}</label>
                                                </div>
                                                <div class="checkbox child_status">
                                                    <input type="checkbox" id="dialog_profile_child_independent_{{$index}}" name="child_independent_{{$index}}" ng-model="child.independent" ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                                    <label for="dialog_profile_child_independent_{{$index}}">{{"Independent" | translate}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                        <fieldset class="border" ng-if="$root.profileDialogData.dependent.number_of_dependent > 0">
                            <legend class="border">{{"Other dependent section" | translate}}</legend>
                            <div class="table-responsive">
                                <table class="table table-striped dependent_table">
                                    <thead>
                                        <tr>
                                            <th class="first">{{"No." | translate}}</th>
                                            <th>{{"Name" | translate}}</th>
                                            <th>{{"Gender" | translate}}</th>
                                            <th>{{"Age" | translate}}</th>
                                            <th>{{"Relationship" | translate}}</th>
                                            <th>{{"Status" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-init="otherDependentAgeRange = $root.utilService.range(0, 81)">
                                        <tr ng-repeat="dependent in $root.profileDialogData.dependent.dependents">
                                            <td><label class="control-label">{{$index + 1}}</label></td>
                                            <td>
                                                <input type="text" id="dialog_profile_dependent_name_{{$index}}" class="form-control" name="dependent_name_{{$index}}" ng-model="dependent.name" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                            </td>
                                            <td>
                                                <select ng-if="false" id="dialog_profile_dependent_gender_{{$index}}" class="form-control gender" name="dependent_gender_{{$index}}" ng-options="item.id as item.name for item in genderList" ng-model="dependent.gender" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1">
                                                    <option value="">{{"--Select Gender--" | translate}}</option>
                                                </select>
                                                <material-select id="dialog_profile_dependent_gender_{{$index}}" name="dependent_gender_{{$index}}" required="" model-data="dependent.gender" list-data="genderList" value-id="'id'" label-id="'name'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1" not-select-label="'--Select Gender--'"></material-select>
                                            </td>
                                            <td>
                                                <select ng-if="false" id="dialog_profile_dependent_age_{{$index}}" class="form-control age" name="dependent_age_{{$index}}" ng-model="dependent.age" required ng-options="item  for item in $root.utilService.range(0, 81)" ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1">
                                                    <option value="">{{"--Select Age--" | translate}}</option>
                                                </select>
                                                <material-select id="dialog_profile_dependent_age_{{$index}}" name="dependent_age_{{$index}}" required="" model-data="dependent.age" list-data="otherDependentAgeRange" not-select-label="'--Select Age--'"></material-select>
                                            </td>
                                            <td>
                                                <select ng-if="false" id="dialog_profile_dependent_relationship_{{$index}}" class="form-control" name="dependent_relationship_{{$index}}" ng-model="dependent.relationship" ng-options="item.id as item.name for item in relationshipList" required ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1">
                                                    <option value="">{{"--Select Relationship--" | translate}}</option>
                                                </select>
                                                <material-select id="dialog_profile_dependent_relationship_{{$index}}" name="dependent_relationship_{{$index}}" required="" model-data="dependent.relationship" list-data="relationshipList" value-id="'id'" label-id="'name'" bto-disabled-event="$root.functionAccess.MANAGE_PROFILE !=1" not-select-label="'--Select Relationship--'"></material-select>
                                            </td>
                                            <td>
                                                <div class="checkbox dependent_status">
                                                    <input type="checkbox" id="dialog_profile_dependent_handicapped_{{$index}}" name="dependent_handicapped_{{$index}}" ng-model="dependent.handicapped" ng-disabled="$root.functionAccess.MANAGE_PROFILE !=1" />
                                                    <label for="dialog_profile_dependent_handicapped_{{$index}}">{{"Handicapped" | translate}}</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                        <div ng-if="false">
                            {{form_profile}}
                        </div>                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelUpdateProfile">{{"Cancel" | translate}}</button>
                    <button ng-disabled="form_profile.$invalid" type="button" class="btn btn-primary" id="OkUpdateProfile" ng-click="$root.profileService.saveProfile();" ng-if="$root.functionAccess.MANAGE_PROFILE ==1">{{"Save" | translate}}</button>
                </div>
            </treasure-overlay-spinner>
        </div>
    </div>
</div>
<script type="text/javascript">

    function encodeImage() {
        var filesSelected = document.getElementById("filesToUpload").files;
        if (filesSelected.length > 0) {
            var fileToLoad = filesSelected[0];
            resizeAndUpload(fileToLoad);
        }
    } 
    function resizeAndUpload(file) {
        var reader = new FileReader();
        reader.onloadend = function () {
            var tempImg = new Image();
            tempImg.src = reader.result;
            tempImg.onload = function () {
                var MAX_WIDTH = 300;
                var MAX_HEIGHT = 250;
                var tempW = tempImg.width;
                var tempH = tempImg.height;
                if (tempW > tempH) {
                    if (tempW > MAX_WIDTH) {
                        tempH *= MAX_WIDTH / tempW;
                        tempW = MAX_WIDTH;
                    }
                } else {
                    if (tempH > MAX_HEIGHT) {
                        tempW *= MAX_HEIGHT / tempH;
                        tempH = MAX_HEIGHT;
                    }
                }
                var canvas = document.createElement('canvas');
                canvas.width = tempW;
                canvas.height = tempH;
                var ctx = canvas.getContext("2d");
                ctx.drawImage(this, 0, 0, tempW, tempH);
                var dataURL = canvas.toDataURL("image/jpeg");
                document.getElementById('imgAvatar').src = dataURL;

                $('#defaultAvatar').addClass('ng-hide');
                $('#imgAvatar').removeClass('ng-hide');
            }
        }
        reader.readAsDataURL(file);
    }
</script>