@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/home/PaymentStart" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="TXD2LG7W26MKN">

            <table>
                <tr><td><input type="hidden" name="on0" value="Buy">Buy your plan</td></tr>
                <tr>
                    <td>
                        <select name="SubcriptionType">
                            <option value="1">Pay monthly : $5.00 USD - monthly</option>
                            <option value="2">Pay yearly : $10.00 USD - yearly</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
</body>
</html>
