<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BTOContext" connectionString="data source=btotest.database.windows.net;initial catalog=BTO;user id=BTO;password=Sparta@12345;multipleactiveresultsets=True; timeout=500" providerName="System.Data.SqlClient" />

    <add name="BTOEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=btotest.database.windows.net;initial catalog=BTO;user id=BTO;password=Sparta@12345; timeout=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="BTOContext" connectionString="data source=DN-AAVN-WS-76\SQLEXPRESS;Initial Catalog=BTO;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="BTOEntities" connectionString="metadata=res://*/WebModel.csdl|res://*/WebModel.ssdl|res://*/WebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DN-AAVN-WS-76\SQLEXPRESS;Initial Catalog=BTO;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--<add name="BTOContext" connectionString="data source=ssz7mdh44a.database.windows.net;initial catalog=BTO;user id=BTO;password=Sparta@12345;multipleactiveresultsets=True; timeout=500" providerName="System.Data.SqlClient" />
   
  <add name="BTOEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ssz7mdh44a.database.windows.net;initial catalog=BTO;user id=BTO;password=Sparta@12345; timeout=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  
  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EnableTracking" value="true" />
    <add key="TrackingLevel" value="1" />
    <add key="FacebookAppId" value="1572350596399930" />
    <add key="FacebookAppSecret" value="544c531d63b67a1a18fe820a3f549fd4" />
    <add key="TwitterConsumerKey" value="lnnaI74xN5Tx7dWcsiTiKANsy" />    
    <add key="TwitterConsumerSecret" value="Z5Eb4VGtCb6kjBcbaV2gQaPFwS8RQ6Zi0V39QqfNbr59PMd2SF" />
    <add key="VeriSignClass3CAG2" value="A5EF0B11CEC04103A34A659048B21CE0572D7D47" />
    <add key="VeriSignClass3CAG3" value="0D445C165344C1827E1D20AB25F40163D8BE79A5" />
    <add key="VeriSignClass3AUG5" value="7FD365A7C2DDECBBF03009F34339FA02AF333133" />
    <add key="SymantecClass3CAG4" value="39A55D933676616E73A761DFA16A7E59CDE66FAD" />
    <add key="VeriSignClass3CAG5" value="4eb6d578499b1ccf5f581ead56be3d9b6744a5e5" />
    <add key="DigiCertSHA2" value="5168FF90AF0207753CCCD9656462A212B859723B" />
    <add key="DigiCertHighAssuranceEV" value="B13EC36903F8BF4701D498261A0802EF63642BC3" />
    <add key="LinkedInClientId" value="773hhvn50f6uef" />
    <add key="LinkedInClientSecret" value="WA7se8Okxoz3WJp3" />
    <add key="GoogleClientId" value="228194816596-65ep4ovr2s3ectp302g0j900l0kvj52h.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="T-VemPM7j1GtVCJlpZEy6A93" />
    <add key="DefaultUiVersion" value="1" />
    <add key="SmtpServer" value="msv49-xs-bowler.mschosting.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpEmail" value="noreply@bettertradeoff.com" />
    <add key="SmtpPassword" value="lp3kT*fArGOl" />
    <add key="SmtpEnableSsl" value="true" />
    <add key="InlineManualTopicId" value="16339" />
    <add key="APIJavaEngineSchemes" value="https" />    
    <add key="APIJavaEngine" value="apitest.zymi.biz" />
    <add key="CodeChatOnline" value="https://embed.tawk.to/579eab2992a0df3b7f4357f3/default" />
    <add key="DisableRegister" value="false" />
    <add key="CanEditProfile" value="true" />
    <add key="AutoRegister" value="false" />
    
    <add key="ListAcceptedIP" value="127.0.0.1,13.76.245.96,117.3.81.19,::1,13.67.57.59,171.251.48.70" />

    <add key="Redis_Server" value="bto.redis.cache.windows.net" />
    <add key="Redis_Port" value="6379" />
    <add key="Redis_Password" value="EQY5op5W4z++iKwuG+EdKncvlWWcMdxYrDn56kuBzbY=" />
    <add key="Redis_EventKey" value="SignalRChat" /> 
    
  </appSettings>
  <system.web>    
    <sessionState mode="InProc" timeout="350" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to https" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".scss" mimeType="text/plain" />
      <!--<mimeMap fileExtension=".xlsx" mimeType="application/vnd.ms-excel"/>
      <mimeMap fileExtension=".xls" mimeType="application/vnd.ms-excel"/>-->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>    
    <validation validateIntegratedModeConfiguration="false" />    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>