<div class="modal fade" id="manageScenario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" ng-controller="ScenarioController">    
    <div class="modal-dialog" style="width:900px" role="document">
        <treasure-overlay-spinner active='spinner.active'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="CloseAndLoadScenario()">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{$root.translateData["Manage your scenarios"]}}</h4>
                </div>
                <div class="modal-body">


                    <table st-table="displayedScenarios" st-safe-src="listScenario" class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th st-sort="time_create">{{$root.translateData["Date & Time"]}}</th>
                                <th st-sort="name">{{$root.translateData["Scenario Name"]}}</th>
                                <th st-sort="type">{{$root.translateData["Display As"]}}</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="time_create" placeholder="{{$root.translateData['Search date time']}}" class="input-sm form-control" type="text" />
                                </th>
                                <th>
                                    <input st-search="name" placeholder="{{$root.translateData['Search name']}}" class="input-sm form-control" type="text" />
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in displayedScenarios">
                                <td cs-selectv2="row"></td>{{row}}
                                <td>{{row.time_create|date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.statusDisplay | translate}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="modal-footer" style="text-align:center;">
                    <a data-dismiss="modal" ng-click="CloseAndLoadScenario()">{{$root.translateData["Close"]}}</a>
                    <button type="button" class="btn btn-primary" ng-click="NewScenario()" ng-if="$root.functionAccess.SAVE_NEW_SCENARIO ==1">{{$root.translateData["New"]}}</button>
                    <button type="button" class="btn btn-primary" ng-click="DuplicateScenarios()" ng-if="$root.functionAccess.DUPLICATE_SCENARIO ==1">{{$root.translateData["Duplicate"]}}</button>
                    <button type="button" class="btn btn-primary" ng-click="DeleteScenarios()" ng-if="$root.functionAccess.DELETE_SCENARIO ==1">{{$root.translateData["Delete"]}}</button>
                    <button type="button" class="btn btn-primary" ng-click="RenameScenario()" ng-if="$root.functionAccess.RENAME_SCENARIO ==1">{{$root.translateData["Rename"]}}</button>
                    <button type="button" class="btn btn-primary" ng-click="MakeCurrentScenario()" ng-if="$root.functionAccess.MAKE_CURRENT_SCENARIO ==1">{{$root.translateData["Make Current"]}}</button>
                    <button type="button" class="btn btn-primary" ng-click="MakeNewScenario()" ng-if="$root.functionAccess.MAKE_NEW_SCENARIO ==1">{{$root.translateData["Make New"]}}</button>
                </div>
                <div id="renameScenario" class="hide">
                    <div class="col-md-3 col-lg-3 col-sm-5 col-xs-5">{{$root.translateData["Name"]}}</div>
                    <div class="col-md-9 col-lg-9 col-sm-5 col-xs-5"><input id="input_rename_scenario" type="text" class="form-control" value="{{name}}" /></div>
                </div>
            </div>
        </treasure-overlay-spinner>
    </div>
    
</div>
